.output-div {
    counter-reset: resetCount;
}

.note {
    padding: 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    counter-increment: resetCount;

}

.note-paragaph {
    
    &::before {
        content: counter(resetCount);
        margin-right: 50px;
    }
}

button {
    margin: 0 20px;
}

.done-button {
    appearance: none;
}

.done {
    text-decoration: line-through;
}